/* Basic Style */
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body {
  background: #d8d5d5;
  color: #333;
}

.container {
  display: block;
  width: 400px;
  margin: 100px auto 0;
  background-color: white;
  border-radius: 10px 10px 10px 10px;
}
.clearfix:after {
  clear: both;
  content: "";
  display: table;
}
.header {
  background-color: #f17f9a;
  max-width: 500px;
  color: white;
  padding-top: 20px;
  padding-bottom: 30px;
  border-radius: 10px 10px 0px 0px;
}
.for-max-width {
  max-width: 312px;
  margin: 0 auto;
}
.date {
  float: left;
}
.remaining-class {
  float: right;
  margin-top: 20px;
}
.float-item {
  float: right;
  margin-top: -20px;
  margin-right: 20px;
  display: block;
  background-color: #f1b07e;
  padding: 5px;
  color: #fff;
  width: 75px;
  text-align: center;
  padding: 10px 0;
}

input,
button {
  outline: none;
}
button {
  background: none;
  border: 0px;
  color: #888;
  margin: 0px 10px 0;
  cursor: pointer;
}
hr {
  border: 2px solid #a4a4a4;
}
.add-task {
  padding: 30px 0;
  margin: 0 auto;
  vertical-align: center;
}
#newTodo {
  color: #b8b8b8;
  font-weight: 400;
  font-size: 15px;
  border: 1px solid #a4a4a4;
  border-radius: 5px;
  padding: 10px;
  margin: 0;
  text-transform: uppercase;
  width: 225px;
}
.icon {
  width: 39px;
}
input:focus {
  border-bottom: 2px solid #a4a4a4;
}
#addBtn {
  height: 40px;
  width: 40px;
  background-color: #f17f9a;
  border-radius: 50%;
  display: inline-block;
  color: white;
  text-align: center;
  vertical-align: center;
  margin-top: -5px;
  margin-left: 30px;
}
.todo-list {
  margin: 0 auto;
  padding: 20px 0;
}

.todo {
  border-bottom: 1px solid lightgray;

  margin: 0 auto;
  margin-top: 0.3em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.todo:last-child {
  border-bottom: none;
}
.todo input {
  width: 80%;
  height: 20px;
  font-size: 20px;
  appearance: none;
  -webkit-appearane: none;
  border: none;
  color: #a4a4a4;
}
.todo_toggle {
  height: 2em;
  width: 2em;
  border: 2px solid #8e102d;
  border-radius: 10px;
  transition: 0.3s;
  margin-right: 10px;
}
.todo_toggle:hover {
  cursor: pointer;
}

.delete_btn {
  display: inline-block;
  text-align: center;
  height: 2em;
  width: 2em;
  line-height: 2em;
  transition: 0.3s;
  background-color: #f17f9a;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

.delete_btn:hover {
  cursor: pointer;
  color: crimson;
}
.todo.complete .todo_toggle {
  background: #f17f9a;
  border: 2px solid #f17f9a;
}
.todo.complete input {
  font-style: italic;
  color: lightgray;
  text-decoration: line-through;
}
/*.checkbox {
  display: block;

  padding-left: 35px;
  cursor: pointer;
}
.checkbox input {
  cursor: pointer;
  height: 20px;
  width: 20px;
}

.checkmark {
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  margin-right: 10px;
}

.checkmarked {
  height: 25px;
  width: 25px;
  background-color: #f17f9a;
}
.checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}
.checkbox input:checked ~ .checkmark {
  background-color: #f17f9a;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkbox input:checked ~ .checkmark:after {
  display: block;
}
.checkbox .checkmark:after {
  left: 44px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
*/
